* {
  padding: 0%;
  margin: 0%;
}

@font-face {
  font-family: ibmplexmono;
  src: url(fonts/IBMPlexMono-Light.ttf);
}

@font-face {
  font-family: ibmplexmonobold;
  src: url(fonts/IBMPlexMono-Bold.ttf);
}

@font-face {
  font-family: ibmplexsans;
  src: url(fonts/IBMPlexSans-Light.ttf);
}

#logo {
  width: 36px;
  height: 36px;
}

p {
  font-family: ibmplexsans;
}

h1 p {
  color: blue;
  display: inline-block;
}

h1 {
  font-family: ibmplexsans;
  font-size: 64px;
}

.world {
  text-decoration: line-through;
}

.portal {
  font-family: ibmplexmono;
}

nav img {
  display: inline;
  -webkit-transform: translate(200%, 98%);
          transform: translate(200%, 98%);
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}

nav li {
  padding-left: 25%;
  font-family: ibmplexmono;
  font-size: 16px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 160%;
}

.titulo {
  height: 30vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
}

button {
  width: 10%;
}

.podcasts {
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  height: 100vmin;
  -webkit-clip-path: polygon(0 8%, 100% 0%, 100% 81%, 0% 100%);
          clip-path: polygon(0 8%, 100% 0%, 100% 81%, 0% 100%);
}

.podcasts h2 {
  font-family: ibmplexsans;
  color: white;
  font-size: 50px;
  -webkit-transform: translate(10%, -20%);
          transform: translate(10%, -20%);
}

.box {
  /* border: 1px solid red;*/
  width: 70%;
  height: auto;
  -webkit-transform: translateX(19%);
          transform: translateX(19%);
  padding-top: 5%;
}

.box h2 {
  font-size: 48px;
  font-family: ibmplexsans;
  -webkit-transform: translate(5%, 0%);
          transform: translate(5%, 0%);
}

.box p {
  font-size: 20px;
  font-family: ibmplexmono;
  -webkit-transform: translate(5%, 40%);
          transform: translate(5%, 40%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.episodios {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

iframe {
  width: 100%;
}

.phone {
  position: relative;
}

.donde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button {
  font-size: 24px;
  margin-top: 56px;
  height: 56px;
  width: 226px;
  height: 56px;
  background-color: #00F3BB;
  font-family: ibmplexmono;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color 1s;
  transition: color 1s;
}

button:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */